extends layout

block content
    h1 Register

    if errors
        ul
            each error in errors
                li= error.msg

    form(action="/user/register" method="POST")
        input(type="hidden" name="token" value=token)

        label(for="name") Name:
        if isInvited
            input(type="text" name="name" value=name readonly)
        else
            input(type="text" name="name" value=name required)

        label(for="organisation") Organisation:
        if isInvited
            input(type="text" name="organisation" value=organisation readonly)
        else
            input(type="text" name="organisation" value=organisation required)

        label(for="email") Email:
        if isInvited
            input(type="email" name="email" value=email readonly)
        else
            input(type="email" name="email" value=email required)

        if !isInvited
            label(for="role") Role:
            select(name="role" required)
                option(value="admin") Admin
                option(value="redaktionsMedlem") Redaktions Medlem
                option(value="medlemsOrganisation") Medlems Organisation

        label(for="password") Password:
        input(type="password" name="password" required)

        label(for="confirmPassword") Confirm Password:
        input(type="password" name="confirmPassword" required)

        button(type="submit") Register