extends layout

block content
    h1 Submitted Amendments for the #{selectedPaper}

    // Buttons to download the Excel sheets
    div.container
        a(href="/exportExcel/danish/" + selectedPaper style="margin-right: 10px;")
            button(type="button") Download Danish Excel
        a(href="/exportExcel/english/" + selectedPaper)
            button(type="button") Download English Excel

    div.container.paper
        each paper in papers
            a(href="/submitted-amendments/" + paper.name)
                button.large(class=paper.name == selectedPaper ? 'active' : '') #{paper.name}

    table
        tr
            th ÆF Nummer
            th ÆF til ÆF Nummer
            th Linje fra
            th Linje til
            th Type af ÆF
            th Oprindelig tekst
            th Ny tekst
            th Motivation for ÆF
        each amendment in submittedAmendments
            tr
                td= amendment.amendment_number
                td= amendment.amendment_to_amendment
                td= amendment.line_from
                td= amendment.line_to
                td= amendment.amendment_type
                td= amendment.original_text_danish || amendment.original_text_english
                td= amendment.new_text_danish || amendment.new_text_english
                td= amendment.motivation_danish || amendment.motivation_english

    h2 Submit New Amendment
    a.button(href="/Amendment/" + selectedPaper) Go Back to Submit New