extends layout

block content
    h1 Submitted Amendments for the #{selectedPaper}

    table
        tr
            th ÆF Nummer
            th ÆF til ÆF Nummer
            th Modstridende med
            th Linje fra
            th Linje til
            th Type af ÆF
            th Oprindelig tekst
            th Ny tekst
            th Motivation for ÆF
        each amendment in submittedAmendments
            tr
                td= amendment.amendment_number
                td= amendment.amendment_reference
                td= amendment.conflicting_with
                td= amendment.line_from
                td= amendment.line_to
                td= amendment.amendment_type
                td= amendment.original_text_danish || amendment.original_text_english
                td= amendment.new_text_danish || amendment.new_text_english
                td= amendment.motivation_danish || amendment.motivation_english

    h2 Export Options
    a.button(href="/export") Export All as Word Document
    a.button(href="/export-excel") Export All as Excel Document

    h2 Submit New Amendment
    a.button(href="/Amendment/" + selectedPaper) Go Back to Submit New
